/*Elements*/

body{
    background-color:#EBEBEB ;
    color:#050505;
}

h3{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

h5{
    color: #EBEBEB;
    text-align: center;
}

/*classes*/

/*color assignment*/

.pink{
    background-color: #D79999;
    border: 1px solid #050505;
    color:#050505;
}

/*header*/

.header{
    padding-top:15px;
    padding-bottom:15px;
    background-color: #A1A3A5;
}

.navbar-brand{
    padding-left: 200px;
    padding-right:200px;
    border-radius: 25px;
}


/*laptop*/

.laptops{
    padding-top:  100px;
}

.card{
    background-color: #EBEBEB;
    border: none;
}

.laptop{
    background-color: #A1A3A5;
    text-align: center;
    height: 250px;
    color:#050505;
    border-radius: 25px;
    border: 1px solid #050505 ;
    
}

.laptopimgage{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.collapsible{
    background-color: #D79999;
    color: #050505;
    padding: 10px;
    text-align: left;
    outline:none;
    border-radius: 25px;
}

.icon{
    width: 10%;
    float:left;
    margin-left: 5px;
    margin-right:5px;
    margin-top:4px;
    margin-bottom: 4px;
}

.collapsible::after{
    content: '\002B';
    color: #050505;
    font-weight: bolder;
    font-size: larger;
    float: right;
    margin-left: 5px;
    /*box-shadow: 10px 10px 5px #A1A3A5;*/

}

/*.content::after{
    border: 1px solid #050505 ;
}*/

.content{
    padding:0 15px;
    max-height: 0;
    overflow:hidden;
    transition: max-height  0.2s ease-out;
    background-color: #A1A3A5;
    /*border: 1px solid #050505 ;*/
    border-radius: 25px;

}

.menu::after{
    /*height: 5em;*/
    /*margin-top: 15%;*/
    /*vertical-align: auto;*/
    /*border: 1px solid #050505 ;*/
}


.active, .collapsible:hover{
    background-color:#D79999 ;
}

.active::after{
    content: "\2212";
}

/*accessories*/

.accessories img{
    margin-left:8px;
    margin-top: 3px;
}

/*Footer*/

.footer{
    height:100px ;
}

/*IDs*/

#search{
    max-width: 25px;
}

