body{
    background-color:#EBEBEB ;
}

#search{
    max-width: 25px;
}

.header{
    padding-top:15px;
    padding-bottom:15px;
    background-color:#A1A3A5 ;
}

.navbar-brand{
    background-color:#D79999;
    padding-left: 200px;
    padding-right:200px;
    border-radius: 325px;
}
